:8030 {
    encode zstd gzip

    log {
        format console
    }

    handle /auth/* {
        reverse_proxy web-backend:8020
    }

    handle /api/* {
        reverse_proxy web-backend:8020
    }

    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}
